<% layout('./layouts/boilerplate') -%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit Listing</h3>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value=<%=listing.title%> type="text" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">
                        Description is too short!
                    </div>
                </div>
                <div class="mb-3">
                    <% if(listing.image && listing.image.url){ %>
                        <p style="margin-bottom: 5px;">Current Listing Image</p>
                        <img src="<%=listing.image.url%>" alt="current listing image" class="img-thumbnail" style="max-width: 300px;">
                    <% } %>    
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                    <div class="invalid-feedback">
                        Please enter the image link!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" value=<%=listing.price%> class="form-control" required>
                    <div class="invalid-feedback">
                        price should be valid.
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" value=<%=listing.location%> type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Location should be valid.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value=<%=listing.country%> type="text" class="form-control" required>
                        <div class="invalid-feedback">
                            Country name should be valid.
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label for="inputGroupSelect02" class="form-label">Property Type</label>
                    <select class="form-select" id="inputGroupSelect02" name="listing[propertyType]" required>
                      <option selected disabled>Select Property Type</option>
                      <option value="Rooms">Rooms</option>
                      <option value="Amazing pools">Amazing pools</option>
                      <option value="Farms">Farms</option>
                      <option value="Amazing View">Amazing View</option>
                      <option value="Treehouses">Treehouses</option>
                      <option value="Camping">Camping</option>
                      <option value="Cabins">Cabins</option>
                      <option value="Arctic">Arctic</option>
                    </select>
                </div>
                <button class="btn btn-dark edit-btn mt-3 mb-5">Edit</button>
            </form>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
